.mainInicio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
    gap: 3%;

}
.mainInicioSuperior{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: larger;
    
}
.mainInicioSuperior h2{
    font-size: 2.5rem;
    font-weight: 800;
}
.mainInicioCenter{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    color: #fff;
    
}
.mainInicioCenter .balao{
    border: solid 2px black;
    height: 70%;
    width: 25%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: none;
}

#balao1{
    background-color: #05704F;
}
#balao2{
    background-color: #36383E;
}
#balao3{
    background-color: #fff;
    color: black;
}
.pTitle{
    font-size: 1.5rem;
    font-weight: 800;    
}
.pNum{
    font-size: 5rem;
    font-weight: 800;
}
.mainInicioInferior{
    width: 100%;
    height: 50%;
    border-radius: 20px;
}


.conteudo{
    width: 100%;
    height: 100%;
    /* max-width: 720px; */
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #2b2b2b;
    color: #fff;
    /* height: 30vh; */
    padding: 55px;
    border-radius: 25px;
}

.conteudo i{
    font-size: 1.1rem;
}

.topo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.topo input {
    width: 85%;
    height: 60px;    
    padding: 0.8rem;
    border-radius: 15px;
    border: 1px solid #2b2b2b;
    outline: none;
    font-size: 1rem;
    background: #191919;
    color: #fff;
}

.topo button{
    width: 10%;
    border-radius: 13px;
    border: 1px solid #2b2b2b;
    background: #191919;
    color: #fff;
    transition: all 0.7s;
}

.topo button:hover{
    background: #05704f;
    cursor: pointer;
}

#listaTarefa{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 75%;
    overflow-y: auto;
}
#listaTarefa::-webkit-scrollbar {
    width: 2px;               /* width of the entire scrollbar */
  }
  
  #listaTarefa::-webkit-scrollbar-track {
    background: transparent;
            /* color of the tracking area */
  }
  
  #listaTarefa::-webkit-scrollbar-thumb {
    background-color: #ccc;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
  }
#listaTarefa li{
    width: 100%;
    height: 60px;
    padding: 2%;
    background: #191919;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#listaTarefa li span{
    width: 80%;
}
.btnAcao{
    border-radius: 50px;
    border: 1px solid #191919;
    width: 3vw;
    height: 48px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2b2b;
    color: #fff;
    transition: all 0.7s;
}

.btnAcao:hover{
    background: #05704f;
}
